@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

//Primary Colors
$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);

//Neutral Colors
$grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

//Font
$text-size: 0.9375em;
$light-weight: 400;
$medium-weight: 500;
$heavy-weight: 700;
$spartan: 'Spartan', sans-serif;

