@import "./variables";

html {
  font-size: 100%;
  box-sizing: border-box;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: $white;
  background-repeat: no-repeat, no-repeat;
  font-family: $spartan;
}

.container {
  position: relative;
  overflow: hidden;
}

// Top image
.top-background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/bg-pattern-top-mobile.svg");
  background-repeat: no-repeat;
}

//Title
.title {
  padding: 80px 50px 30px 50px;
  font-size: $text-size;
  text-align: center;
  color: $very-dark-magenta;
  font-weight: $heavy-weight;
  line-height: 1;
}

//about
.about {
  padding: 0px 23px 40px 23px;
  font-size: 0.875em;
  text-align: center;
  color: #502050;
  font-weight: $light-weight;
  line-height: 1.3;
}

.ratings {
  display: flex;
  flex-direction: column;
}

.ratings-card {
  background-color: $light-grayish-magenta;
  margin: 18px 30px;
  padding: 20px 0;
  font-weight: $heavy-weight;
  color: $very-dark-magenta;
  text-align: center;
  border-radius: 8px;
  line-height: 1.5;
}

.star {
  padding-bottom: 15px;
}

//Testimonals
.testimonials {
  //padding-top: 50px;

  &-card {
    background-color: $very-dark-magenta;
    margin: 0 25px;
    margin-bottom: 15px;
    padding: 36px 30px;
    border-radius: 8px;
  }
}

.testimonials-top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: left;

  & img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    vertical-align: center;
    margin-right: 20px;
  }
}

.testimonials-name {
  color: $white;
  font-weight: $medium-weight;
}

.testimonials-legend {
  color: $soft-pink;
  line-height: 1.3;
}

.testimonials-text {
  color: $white;
  line-height: 1.5;
}

//attribution
.attribution {
  font-size: 14px;
  text-align: center;
  margin: 50px 0;

  & a {
    color: $very-dark-magenta;
    text-decoration: none;
  }

  & a:hover {
    color: $soft-pink;
  }
}

//bottom image
.bottom-background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url("../images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat;
}

//Media Query

@media (min-width: 440px) {
  .top-background {
    background-image: url("../images/bg-pattern-top-desktop.svg");
  }

  .bottom-background {
    background-image: url("../images/bg-pattern-bottom-desktop.svg");
    right: -160px;
    bottom: 0;
    background-size: cover;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px 165px 30px 165px;
  }

  .top {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .title,
  .about {
    text-align: left;
    padding-left: 0;
    margin-left: 0;
    padding-top: 0;
  }

  .title {
    width: 70%;
    font-size: 20px;
  }

  .about {
    width: 85%;
    line-height: 1.5;
  }

  .ratings {
    margin: 0;
    padding: 0;
    width: 1250px;
    align-self: start;

    &-card {
      display: flex;
      margin: 18px 0;
      width: 440px;
      height: 55px;
      font-size: 15px;

      &:first-of-type {
        align-self: flex-start;
      }
      &:nth-of-type(2) {
        align-self: center;
      }
      &:last-of-type {
        align-self: flex-end;
      }
      .star {
        margin: 0 30px;
      }
    }
  }

  .testimonials {
    display: flex;
    margin: 0 165px;
    height: 300px;
    font-size: 12px;

    &-card {
      margin: 0;
      flex: 1 1 auto;
      
      &:not(:last-child) {
        margin-right: 20px;
      }
      &:first-of-type {
        align-self: flex-start;
      }
      &:nth-of-type(2) {
        align-self: center;
      }
      &:last-of-type {
        align-self: flex-end;
      }
    }
  }

  .attribution {
    margin-top: 50px;
  }
}
